{% extends "layout.html" %}

{% block title %}
- Accounts
{% endblock %}

{% block main %}
    <h2>Accounts</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Account Type</th>
                <th>Account Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ accounts.name }}</td>
                    <td>{{ accounts.type }}</td>
                    <td>{{ accounts.balance | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/open" method="post">
        <button class="btn btn-success" type="submit">Open Account</button>
    </form>
{% endblock %}