{% extends "layout.html" %}

{% block title %}
- History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Date</th>
                <th>Type</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ '%.2f' | format(transaction.price) }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.account }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}