{% extends "layout.html" %}

{% block title %}
- Home
{% endblock %}

{% block main %}
<h2>Dashboard</h2>
    <table class="text-center table">
            <thead>
                <tr>
                    {% for account_type, total in account_totals.items() %}
                        <th>{{ account_type }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for account_type, total in account_totals.items() %}
                        <td>{{ total | usd }}</td>
                    {% endfor %}
                </tr>
            </tbody>
    </table>
    <form action="/deposit" method="POST">
        <button class="btn btn-success" type="submit">Deposit</button>
    </form>
    <p><strong>Net Worth:</strong> {{ net_worth }}</p>
    <p><strong>Top Investments:</strong> {{ top_investments[0].symbol }}</p>
    <form action="/invest" method="GET">
        <button class="btn btn-success" type="submit">Invest</button>
    </form>
    <p><strong>FIRE Number:</strong> {{ fire_number }}</p>
    <p><strong>Time to FIRE:</strong> {{ years_to_fire }}</p>
    <form action="/calculator" method="GET">
        <button class="btn btn-success" type="submit">Calculate</button>
    </form>
{% endblock %}