{% extends "layout.html" %}

{% block title %}
- Home
{% endblock %}

{% block main}
    <table>
        <h2>Dashboard</h2>
            <thead>
                <tr>
                    <th>RETIREMENT</th>
                    <th>BROKERAGE</th>
                    <th>HEALTH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TODO: Retirement Account Details</td>
                    <td>TODO: Brokerage Account Details</td>
                    <td>TODO: Health Account Details</td>
                </tr>
            </tbody>
    </table>

    <p><strong>Cash:</strong>  TODO: amount of cash</p>
    <form action="/deposit" method="post">
        <button class="btn btn-success" type="submit">Deposit</button>
    </form>
    <p><strong>Net Worth:</strong> TODO: Net Worth</p>
    <p><strong>Top Investments:</strong> TODO: list of investments</p>
    <form action="/invest" method="post">
        <button class="btn btn-success" type="submit">Invest</button>
    </form>
    <p><strong>FIRE Number:</strong> TODO: FIRE Number</p>
    <p><strong>Time to FIRE:</strong> TODO: time to FIRE</p>
    <form action="/calculator" method="post">
        <button class="btn btn-success" type="submit">Calculate</button>
    </form>
{% endblock %}