{% extends "layout.html" %}

{% block title %}
- Home
{% endblock %}

{% block main %}
    <table>
        <h2>Dashboard</h2>
            <thead>
                <tr>
                    <th>CASH</th>
                    <th>SAVINGS</th>
                    <th>BROKERAGE</th>
                    <th>RETIREMENT</th>
                    <th>HEALTH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for account in accounts %}
                        {% if account.type == "CASH" %}
                            <td>{{ account.balance | usd }}</td>
                        {% elif account.type == "SAVINGS" %}
                            <td>{{ account.balance | usd }}</td>
                        {% elif account.type == "BROKERAGE" %}
                            <td>{{ account.balance | usd }}</td>
                        {% elif account.type == "RETIREMENT" %}
                            <td>{{ account.balance | usd }}</td>
                        {% elif account.type == "HEALTH" %}
                            <td>{{ account.balance | usd }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
    </table>
    <form action="/deposit" method="POST">
        <button class="btn btn-success" type="submit">Deposit</button>
    </form>
    <p><strong>Net Worth:</strong> {{ net_worth }}</p>
    <p><strong>Top Investments:</strong> {{ top_investments }}</p>
    <form action="/invest" method="GET">
        <button class="btn btn-success" type="submit">Invest</button>
    </form>
    <p><strong>FIRE Number:</strong> {{ fire_number }}</p>
    <p><strong>Time to FIRE:</strong> {{ years_to_fire }}</p>
    <form action="/calculator" method="GET">
        <button class="btn btn-success" type="submit">Calculate</button>
    </form>
{% endblock %}