{% extend "layout.html" %}

{% block title %}
- Open Account
{% endblock %}

{% block main %}
    <h2>Open New Account</h2>
    <form method="POST" action="/open">
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="account_type" placeholder="Type" type="text" required>
                <option value="" disabled selected>Select Account</option>
                <option value="CASH">Cash</option>
                <option value="SAVINGS">Savings</option>
                <option value="BROKERAGE">Brokerage</option>
                <option value="RETIREMENT">Retirement</option>
                <option value="HEALTH">Health</option>
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="account_name" placeholder="Account Name" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="initial_balance" placeholder="Initial Balance" type="number" step="0.01" min="0" required>
        </div>
        <button class="btn btn-success" type="submit">Create Account</button>
    </form>
{% endblock %}